@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.outline-text{
     color: transparent;
  -webkit-text-stroke: 4px #392c3c;
}
.cursive {
  font-family:  cursive;
}

.borderr{
  border: #392c3c solid 3px;
}

.add{
  background-color: #392c3c;
  color: #f5f5f4;
}

.text{
  color: #392c3c;
  
}